@media (max-width: 1200px) {
    .single-project .banner-image{
        .project-img {
            width: 70%;
        }
    }
}
@media (max-width: 999px) {
    .full-nav{
        height: 100vh !important;
        min-height: unset !important;
        .navbar-nav{
            border-bottom: 1px solid #fff !important;
            border-inline-end: 0px !important;
        }

        .heading{
            font-size: 25px !important;
            margin-bottom: 0px !important;
        }
    }

    header{
        .swiper{
            height: unset !important;

            .swiper-slide{
                width: 100%;
                
                .content{
                    width: 100%;
                    height: 600px;
                    min-height: 100vh;
                }
            }

           
        }
        .swiper-button-next, .swiper-button-prev{
            bottom: 10px;
            top: unset;
            transform: translateY(0px) !important;
        }

        .swiper-button-prev{
            left: calc(50% - 60px);
        }

        .swiper-button-next{
            right: calc(50% - 60px);
        }

        .swiper-pagination{
            display: none !important;
        }
    }

    .single-project .banner-image{
        height: 400px;
        .project-img {
            width: 60vw;
            height: 90%;
        }

        &::after {
            content: '';
            position: absolute;
            width: 92vw;
            height: 100%;
            background: url(../images/lab_screen.png) center/89vw 100% no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
        }
    }
}

@media (max-width: 650px) {
    .single-project .banner-image{
        height: 300px;
    }
}

@media (max-width: 401px) {
    .single-project .banner-image{
        height: 170px;
    }
    .full-nav .list-contain li{
        padding: 0px !important;
    }
}